<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
      body { font-family: Arial, sans-serif; margin: 0; padding: 0; } header {
      background-color: #333; color: #fff; padding: 20px 0; text-align: center;
      } nav { display: inline-block; } nav a { color: #fff; text-decoration:
      none; margin: 0 15px; } nav a:hover { text-decoration: underline; }
      section { padding: 20px; } 
    </style>
  </head>
  <body>
    <h1 style="text-align: center;">Olá, Mundo!</h1>
    <section>
      <h2>Bem vindo a Home!</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus incidunt molestiae quaerat fuga exercitationem dolore beatae aliquam enim, blanditiis accusantium eveniet assumenda sequi libero aspernatur! Voluptas sapiente eveniet odio exercitationem.</p>
    </section>
  </body>
</html>